@font-face {
    font-family: HARRY;
    src: url(harryfont.ttf);
}

h1{
    font-family: harry;
    font-size: 90px;
    text-align: center;
    color:rgb(190, 169, 51);
}

body {
    background-color: rgb(34, 34, 34);
}

.logo {
   align-items: end;
}

#spell-select {
    width: 200px;
    height: 40px;
    font-size: 20px;
    display: block;
    margin: 20px auto;
    margin-top: 60px;
}

#spell-info {
    font-size: 100px;
}
